@media (max-width: 575px) {
  .container-fluid {
    max-width: 88% !important;
  }
  .partners {
    height: auto !important;
    padding: 4rem 0 !important;
  }
  .partners .partners-alt {
    height: auto;
  }
  .partners .partners-alt .item {
    height: auto;
  }
  .partners .partners-alt .item .photo {
    width: 80% !important;
    height: 70% !important;
  }
  .cnt {
    height: auto !important;
  }
  .cnt h2 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem !important;
  }
  .cnt h1 {
    font-weight: 600 !important;
    font-size: 1.7rem !important;
  }
  .cnt p {
    font-size: 1.3rem !important;
    margin-top: 1.5rem;
  }
  .brand {
    width: 60% !important;
  }
  .main-ul {
    display: none !important;
  }
  .chair {
    height: auto !important;
  }
  .chair .item {
    height: auto !important;
  }
  .chair .item .one {
    height: auto !important;
  }
  .chair .item .one h1 {
    font-size: 1.2rem !important;
    text-align: center;
  }
  .chair .item .two {
    height: auto !important;
  }
  .chair .item .two .icons {
    height: auto !important;
    width: auto !important;
  }
  .chair .photo {
    height: auto !important;
  }
  .chair .photo .icon {
    height: auto !important;
    width: auto !important;
  }
  .cashback {
    height: 60vh !important;
  }
  .cashback .center-text h2 {
    font-size: 2rem !important;
    text-align: center !important;
  }
  .beds .beds-img .bed-text h1 {
    font-size: 1.3rem !important;
  }
  .blogs {
    height: auto !important;
  }
  .ftr {
    height: auto !important;
  }
  .slider {
    height: auto !important;
  }
  .slider h1 {
    font-size: 2rem !important;
  }
  .slider p {
    font-size: 1.4rem !important;
  }
  .slider .pdng {
    padding: 5rem 0 !important;
  }
  .slider .text {
    width: 100% !important;
  }
  header .brand {
    width: 70% !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container-fluid {
    max-width: 88% !important;
  }
  .partners {
    height: auto !important;
    padding: 4rem 0 !important;
  }
  .partners .partners-alt {
    height: auto;
  }
  .partners .partners-alt .item {
    height: auto;
  }
  .partners .partners-alt .item .photo {
    width: 80% !important;
    height: 70% !important;
  }
  .cnt {
    height: auto !important;
  }
  .cnt h2 {
    margin-bottom: 1.5rem;
    font-size: 1.2rem !important;
  }
  .cnt h1 {
    font-weight: 600 !important;
    font-size: 1.7rem !important;
  }
  .cnt p {
    font-size: 1.3rem !important;
    margin-top: 1.5rem;
  }
  .brand {
    width: 40% !important;
  }
  .main-ul {
    display: none !important;
  }
  .chair {
    height: auto !important;
  }
  .chair .item {
    height: auto !important;
  }
  .chair .item .one {
    height: auto !important;
  }
  .chair .item .one h1 {
    font-size: 1.2rem !important;
    text-align: center;
  }
  .chair .item .two {
    height: auto !important;
  }
  .chair .item .two .icons {
    height: auto !important;
    width: auto !important;
  }
  .chair .photo {
    height: auto !important;
  }
  .chair .photo .icon {
    height: auto !important;
    width: auto !important;
  }
  .cashback {
    height: 60vh !important;
  }
  .cashback .center-text h2 {
    font-size: 2rem !important;
    text-align: center !important;
  }
  .beds .beds-img .bed-text h1 {
    font-size: 1.3rem !important;
  }
  .blogs {
    height: auto !important;
  }
  .ftr {
    height: auto !important;
  }
  .slider {
    height: auto !important;
  }
  .slider h1 {
    font-size: 2rem !important;
  }
  .slider p {
    font-size: 1.4rem !important;
  }
  .slider .pdng {
    padding: 5rem 0 !important;
  }
  .slider .text {
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  header .main-ul {
    display: none !important;
  }
  header .brand {
    width: 30% !important;
  }
  .chair {
    height: auto !important;
  }
  .chair .item {
    height: auto !important;
  }
  .chair .item .one {
    height: auto !important;
  }
  .chair .item .one h1 {
    font-size: 1.2rem !important;
    text-align: center;
  }
  .chair .item .two {
    height: auto !important;
  }
  .chair .item .two .icons {
    height: auto !important;
    width: auto !important;
  }
  .chair .photo {
    height: auto !important;
  }
  .chair .photo .icon {
    height: auto !important;
    width: auto !important;
  }
  .beds .beds-img .bed-text h1 {
    font-size: 1.7rem !important;
  }
  .cashback {
    height: 60vh !important;
  }
  .cashback .center-text h2 {
    font-size: 2rem !important;
    text-align: center !important;
  }
  .cnt {
    height: auto !important;
  }
  .cnt h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem !important;
  }
  .cnt h1 {
    font-weight: 600 !important;
    font-size: 2rem !important;
  }
  .cnt p {
    font-size: 1.5rem !important;
    margin-top: 1.5rem;
  }
  .ftr .box2 {
    padding-left: 0 !important;
  }
}

@media (min-width: 992px) {
  .cnt {
    height: auto !important;
  }
  .cnt h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem !important;
  }
  .cnt h1 {
    font-weight: 600 !important;
    font-size: 2rem !important;
  }
  .cnt p {
    font-size: 1.5rem !important;
    margin-top: 1.5rem;
  }
  .beds .beds-img .bed-text h1 {
    font-size: 1.7rem !important;
  }
  .item h1 {
    font-size: 1.2rem !important;
  }
  .chair {
    height: auto !important;
  }
  .cashback {
    height: 60vh !important;
  }
  .cashback .center-text h2 {
    font-size: 2rem !important;
    text-align: center !important;
  }
}

* {
  font-size: 10px;
  font-family: Spartan, sans-serif;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  max-width: 96%;
  padding: 0;
}

.site-header {
  height: 13vh;
  width: 100%;
}

.site-header .header-main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .header-main .brand {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .header-main .ul-box {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .header-main .ul-box .main-ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.site-header .header-main .ul-box .main-ul .drop-li {
  position: relative;
}

.site-header .header-main .ul-box .main-ul .drop-li:hover .drop-ul {
  opacity: 1;
  visibility: visible;
}

.site-header .header-main .ul-box .main-ul .drop-li .drop-ul {
  position: absolute;
  background-color: #ffffff;
  top: 7.5rem;
  padding: 0;
  z-index: 23;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 150px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: 1px solid #eef2f7;
  opacity: 0;
  visibility: hidden;
}

.site-header .header-main .ul-box .main-ul .drop-li .drop-ul li {
  border-bottom: 1px solid #eef2f7;
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 13px;
}

.site-header .header-main .ul-box .main-ul .drop-li .drop-ul li:hover a {
  color: #FDBF70;
}

.site-header .header-main .ul-box .main-ul .drop-li .drop-ul li a {
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 1.3rem;
}

.site-header .header-main .ul-box .main-ul .nav-item {
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.site-header .header-main .ul-box .main-ul .nav-item a {
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
}

.site-header .header-main .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .header-main .icons i {
  font-size: 2rem;
  margin-left: 1rem;
}

.slider {
  width: 100%;
  height: 110vh;
}

.slider .carousel {
  width: 100%;
  height: 93%;
  background-color: #ffedf3;
}

.slider .carousel .img {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 2rem;
}

.slider .carousel .img .slider1img {
  width: 50%;
  height: 90%;
}

.slider .carousel .img .slider2img {
  width: 80%;
  height: 93%;
}

.slider .carousel .ed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider .carousel .pdng {
  padding-top: 10rem;
}

.slider .carousel .text {
  width: 90%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3rem;
}

.slider .carousel .text h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.5;
}

.slider .carousel .text p {
  font-size: 1.7rem;
  line-height: 1.8;
}

.slider .carousel .text .now {
  outline: none;
  border: none;
  background-color: transparent;
  color: #000;
  border: 1px solid black;
  padding: 6px 20px;
  font-size: 1.4rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slider .carousel .text .now:hover {
  border-color: #FDBF70;
}

.partners {
  width: 100%;
  height: 25vh;
}

.partners .partners-alt {
  height: 100%;
}

.partners .partners-alt .item {
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  opacity: .5;
}

.partners .partners-alt .item:hover {
  opacity: 1;
}

.partners .partners-alt .item .photo4 {
  width: 93%;
  height: 88%;
}

.design {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.design .center-img {
  width: 90%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.design .center-img .cnt {
  position: absolute;
  text-align: center;
  width: 35%;
}

.design .center-img .cnt h2 {
  margin-bottom: 1.5rem;
}

.design .center-img .cnt h1 {
  font-weight: 400;
  font-size: 3.5rem;
}

.design .center-img .cnt p {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  margin-top: 1.5rem;
}

.beds {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.beds .beds-img {
  width: 90%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.beds .beds-img .bed-text {
  position: absolute;
  text-align: center;
  width: 35%;
}

.beds .beds-img .bed-text h2 {
  margin-bottom: 1.5rem;
}

.beds .beds-img .bed-text h1 {
  font-weight: 400;
  font-size: 3.5rem;
}

.beds .beds-img .bed-text p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.cashback {
  width: 100%;
  height: 80vh;
  background-image: url("../img/h1-bg.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cashback .center-text {
  width: 60%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cashback .center-text h1 {
  font-size: 2.3rem;
}

.cashback .center-text h2 {
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
}

.cashback .center-text .button {
  display: inline-block;
  padding: 1.7rem 3rem;
  font-size: 1.4rem;
  color: #000;
  -webkit-transition: all .5s;
  transition: all .5s;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}

.cashback .center-text .button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 100%;
  z-index: -2;
}

.cashback .center-text .button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #FDBF70;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: -1;
}

.cashback .center-text .button:hover {
  color: #fff;
}

.cashback .center-text .button:hover:before {
  width: 100%;
}

.chair {
  width: 100%;
  height: 95vh;
}

.chair .left-furnitures {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.chair .left-furnitures .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  cursor: pointer;
}

.chair .left-furnitures .item:hover .two {
  opacity: 1;
}

.chair .left-furnitures .item .two {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chair .left-furnitures .item .two .icons {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16%;
  height: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.chair .left-furnitures .item .two .icons i {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #fff;
  color: black;
  font-size: 1.6rem;
  line-height: 3.5rem;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.chair .left-furnitures .item .two .icons i:hover {
  color: #fff;
  background-color: #000;
}

.chair .left-furnitures .item .one {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chair .left-furnitures .item .one:hover .icon {
  opacity: 1;
}

.chair .left-furnitures .item .one h1 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1.4rem;
}

.chair .left-furnitures .item .one p {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1.1rem;
}

.chair .head {
  font-size: 3.6rem;
  padding-top: 4rem;
}

.chair .para {
  font-size: 1.6rem;
  color: #7A7A7A;
}

.blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.icon {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16%;
  height: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: 0;
}

.icon i {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #fff;
  color: black;
  font-size: 1.6rem;
  line-height: 3.5rem;
  text-align: center;
  cursor: pointer;
}

.icon i:hover {
  color: #fff;
  background-color: #000;
}

.photo {
  width: 100%;
  height: 100%;
  position: relative;
}

.blog-text {
  width: 100%;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-text .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-text .text h1 {
  font-size: 3.5rem;
}

.blog-text .text p {
  font-size: 1.7rem;
  color: #7A7A7A;
}

.blogs {
  width: 100%;
  height: 75vh;
}

.blogs .blog1 .blog {
  padding: 0 8px;
}

.blogs .blog1 .blog .blogimg {
  width: 100%;
  height: 60%;
}

.blogs .blog1 .blog h1 {
  font-size: 1.8rem;
  padding-top: 1rem;
  font-weight: 600;
  border-top: 1px solid #7A7A7A;
}

.blogs .blog1 .blog p {
  font-size: 1.3rem;
  margin-top: 1.1rem;
  color: #7A7A7A;
  line-height: 2.5rem;
}

.blogs .blog1 .blog h6 {
  color: #7A7A7A;
  font-size: 1.4rem;
  padding: 1.2rem 0;
  margin: 0;
}

.ftr {
  height: 70vh;
  border-top: 1px solid #ccc;
  padding-top: 4rem;
}

.ftr .box1 {
  padding: 50px 10px 0 10px;
}

.ftr .box1 img {
  margin-bottom: 2.3rem;
}

.ftr .box1 p {
  color: #7A7A7A;
  font-size: 1.3rem;
}

.ftr .box2 {
  padding: 50px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ftr .box2 h1 {
  font-size: 2rem;
  color: #000;
  margin-bottom: 2rem;
}

.ftr .box2 p {
  font-size: 1.3rem;
  color: #7A7A7A;
  margin-bottom: 1.6rem;
  line-height: 2.3rem;
}

.ftr .box2 a {
  color: black;
  font-size: 1.3rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  text-decoration: none;
  margin-bottom: 1.7rem;
}

.ftr .box2 a:hover {
  color: #FDBF70;
}

.ftr .box2 input {
  width: 70%;
  font-size: 1.3rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.ftr .box2 button {
  width: 30%;
  font-size: 1.3rem;
  border: none;
  outline: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background-color: transparent;
}

.ftr .box2 button:hover {
  color: #FDBF70;
}

.ft-text {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ccc;
}

.ft-text h1 {
  font-size: 1.4rem;
}

.blog-text {
  width: 100%;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-text .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-text .text h1 {
  font-size: 3.5rem;
}

.blog-text .text p {
  font-size: 1.7rem;
  color: #7A7A7A;
}
/*# sourceMappingURL=style.css.map */